*{
    margin: 0;
    padding: 0;
}
/* ---------------------------------NAVBAR------------------------------ */
.navbar{
   display: flex;
  height: 60px;
   justify-content: center;
   align-items: center;
   position:sticky;
   top: 13.5px;
   cursor: pointer;

}
.logo{
    width: 7%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.logo img{
    width: 63%;

}
 

.nav__list {
   
     background: rgb(218, 185, 40);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgb(234, 187, 33) 100%);    
    /* background-color: gray; */
    /* background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgb(20 185 121) 50%, rgba(252,176,69,1) 100%); */
  
    display: flex;
    align-items: center;

}
.nav__list li{
    list-style: none;
    color: white;
}
.nav__list li a{
text-decoration: none;
padding: 26px;  
color: greenyellow;
}
.head{
    padding-left: 21rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.charcter
{
   text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
      font-size: 19px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}
/* ------------------------HERO SECTION-------------------------- */

html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

swiper-container {
  width: 100%;
  height: 100%;
}

swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* ----------------------MAIN SECTION */

#home{
    background-image: linear-gradient(rgb(9,5,54,0.3),rgb(5,7,46,0.4)),url(unv.jpg);
    width: 100%;
    height: 100vh;
    background-size:cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding:40px;
}

#home h2 {
    color: #fff;
    font-size: 2.2rem;
    letter-spacing: 1px;
}

#home p {
    width: 50%;
    color: white;
    font-size: 19px;
    line-height: 25px;
}

#home .btn {
    margin-top: 30px;
}

 #home a {
    text-decoration: none;
    font-size: 1rem;
    padding: 13px 35px;
    background-color: #fff;
    font-weight: 600;
    border-radius:5px;  
    border: 4px solid black;
} 

#home a.blue {
    color: #fff;
    background: rgb(30, 28, 29);
}

#home a.blue:hover {
    color: rgba(148, 255, 71, 0.753);
    background: black   ;
}



/* -------------FOOTER SECTION---------------- */
footer{
    background: rgb(120 , 0 ,0);
    padding-top: 5rem;
    font-size: 0.9rem;
}
.footer__container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5rem;
    
}

.footer__container >div h4{
        margin-bottom: 1.2rem;
}
.footer__1 p{
    margin: 0 0 2rem;

}
.footer__2 {
    padding-left: 30px;
    
}

.footer__3 {
    padding-left: 30px;
    
}
.footer ul li {
    margin-bottom: 0.7rem;
}
.footer ul li a :hover{
    text-decoration: underline;
}
.footer__socials{
    display: flex;
    gap: 1rem;
    font-size:  1.2rem;
    list-style: none;
}
.footer__copyright{
    text-align: center;
    margin-top: 4rem;
    padding: 1.2rem 0;
    border-top: 1px solid #041452;
}


@media screen and (max-width: 768px) {
    body {
      font-size: 14px;
    }
  
    nav img {
      width: 120px;
    }
  
    nav .navigation ul li a {
      font-size: 20px;
    }
  
    #home h2 {
      font-size: 1.8rem;
    }
  
    #home p {
      width: 80%;
      font-size: 0.8rem;
    }
  
    #home a {
      font-size: 0.8rem;
      padding: 10px 25px;
    }
  
    .categories_container {
      grid-template-columns: 100%;
    }
  
    .categories_right {
      grid-template-columns: 100%;
    }
  }
  
  /* Keyframes for animation */
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  